.page-accueil{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;

    & .section-projet{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        & .a-propos{
            position: relative;
            bottom: 4em;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            font-family: var(--paragraphe);
            width: 100%;
            margin: 0 auto 0 0;

            @media (min-width: 1024px){
                align-items: end;
                flex-direction: row-reverse;
            }

            & .about{
                position: relative;
                width: 60%;
                margin-left: 1em;
                margin-bottom: 4em;

                @media (min-width: 768px){
                    flex-direction: row-reverse;
                }
                @media (min-width: 1024px){
                    flex-direction: row-reverse;
                }

                &::before{
                    display: block;
                    position: absolute;
                    width: 225px;
                    height: 100px;
                    padding: 0;
                    content: "";
                    left: -1.5em;
                    top: -1em;
                    border-radius: 0.5em;
                    background-color: var(--cyan-reg);
                    border-left: 1em solid var(--cyan-pale);
                    z-index: -10;
                }

                & h2{
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-bottom: 0.5em;
                }
                & p{
                    font-size: 1em;
                    font-weight: lighter;
                    line-height: 1.5em;
                    margin-bottom: 0.5em;
                }
            }
            & .liste-skills{
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                align-items: end;
                width: auto;

                &::before{
                    display: block;
                    position: absolute;
                    width: 225px;
                    height: 100px;
                    padding: 0;
                    content: "";
                    left: -1.5em;
                    top: -3em;
                    border-radius: 0.5em;
                    background-color: var(--cyan-reg);
                    border-left: 1em solid var(--cyan-pale);
                    z-index: -10;
                }
                &::after{
                    display: block;
                    position: absolute;
                    width: 90%;
                    height: 1px;
                    padding: 0;
                    content: "";
                    left: 0;
                    top: 0;
                    background-color: white;
                }

                & h2{
                    position: absolute;
                    top: -1.5em;
                    left: 0;
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-bottom: 0.5em;
                }
                & ul{
                    width: 40%;
                    list-style: circle;
                    margin-right: 3em;
                    margin-top: 1em;
                    & h3{
                        margin-bottom: 0.8em;

                    }
                    & li{
                        position: relative;
                        left: 1.2em;
                        font-size: 1em;
                        font-weight: lighter;
                        line-height: 1em;
                        margin-bottom: 0.5em;
                    }
                }
            }
        }

        & .filter{
            margin: 1em;
            font-size: 1.5em;
            font-family: var(--paragraphe);
            
            & div{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            & select{
                margin-left: 1em;
                padding: 0.3em;
                border-radius: 0.5em;
                border: none;
                font-size: 1em;
                font-family: var(--paragraphe);
                text-transform: capitalize;
                & *{
                    font-family: var(--paragraphe);
                }
            }
        }
        
        & .grid-projet{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
    
            & .vignette-projet{
                position: relative;
                display: flex;
                flex-direction: column;
                object-fit: contain;
                width: 200px;
                height: 200px;
                margin: 1em;

                @media (min-width: 576px){
                    width: 250px;
                    height: 250px;
                    margin: 1.5em;
                }
                @media (min-width: 768px){
                    width: 300px;
                    height: 300px;
                    margin: 2em;
                }

                & a{
                    border-radius: 0.5em;
                    overflow: hidden;
                    &>img{
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                        transition: all 0.3s ease;  /*test*/

                        @media (min-width: 576px){
                            width: 250px;
                            height: 250px;
                        }
                        @media (min-width: 768px){
                            width: 300px;
                            height: 300px;
                        }
                    }
                    & .logi-projet{
                        position: absolute;
                        top: 1em;
                        right: -0.5em;
                        border-radius: 0.5em;
                        background-color: var(--cyan-pale);

                        & img{
                            width: 30px;
                            height: 30px;
                            object-fit: contain;
                            padding: 0.3em;
                            filter: invert(99%) sepia(1%) saturate(3572%) hue-rotate(193deg) brightness(117%) contrast(100%);

                            @media (min-width: 576px){
                                width: 40px;
                                height: 40px;
                                padding: 0.4em;
                            }
                            @media (min-width: 768px){
                                width: 50px;
                                height: 50px;
                                padding: 0.5em;
                            }
                        }
                    }
                    & .info-projet{
                        position: absolute;
                        border-radius: 0.5em;
                        background-color: var(--cyan-pale);
                        padding: 0.3em;
                        bottom: -0.5em;
                        left: 1em;
                        text-decoration: none;
                        color: white;
                        font-family: var(--paragraphe);

                        @media (min-width: 576px){
                            padding: 0.4em;
                        }
                        @media (min-width: 768px){
                            padding: 0.5em;
                        }

                        & h2{
                            font-size: 0.5em;
                            font-weight: bold;
                            margin-bottom: 0.2em;

                            @media (min-width: 576px){
                                font-size: 0.75em;
                            }
                            @media (min-width: 768px){
                                font-size: 1em;
                            }
                        }
                        & p{
                            font-size: 0.4em;
                            font-weight: lighter;

                            @media (min-width: 576px){
                                font-size: 0.6em;
                            }
                            @media (min-width: 768px){
                                font-size: 0.8em;
                            }
                        }
                    }
                }

                &:hover{
                    &>a>img{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}