.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: fuchsia;
    font-family: 'Fira Sans', sans-serif;;

    & .contact{
        display: flex;
        flex-direction: column;
        & ul{
            display: flex;
            flex-direction: row;
        }
    }
    & .plateforme{
        display: flex;
        flex-direction: column;
        & ul{
            display: flex;
            flex-direction: row;
        }
    }
}